* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  margin: 0 auto;
  max-width: 600px;
  padding: 2rem;
  border-radius: 4px;
}

.TodoForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  min-height: 40px;
}



.InputsWrapper {
  margin-bottom: 2rem;
}

.AddTask {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.TodoSearch {
  display: flex;  
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 0;
  width: calc(100% - 6rem); 
  color: #fff;
  flex-grow: 1;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-container  {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.search-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  width: calc(100% - 6rem);
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.clear-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  margin-left: 1rem;
  width: 5rem;
  flex-shrink: 0;
}

.add-btn,
.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  margin-left: 1rem;
  width: 5rem;
  flex-shrink: 0;
}

.todo-btn {
  width: 6rem;
  font-size: 0.85rem;
  margin: 0 0.5rem;
  padding: 0.3rem;
  background-color: #1A1A40;
}


.filter-button {
  background: #8758ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  margin: 0 0.35rem;
  width: 4rem;
  flex-shrink: 0;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  font-size: 0.8rem;
}

.filter-button:last-child {
  margin-right: 0;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.CreatedTasksContainer .Todo:last-child {
  margin-bottom: 0;
}


.taskContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.taskElement {
  width: calc(100% - 6rem);
  grid-area: text;
  text-align: justify;
  word-break: break-all;
}

.taskIconsContainer {
  display: flex;
}

.Todo.completed {
  background-color: #634dff; /* Более темный цвет фона для выполненной задачи */
}


.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.check-icon,
.edit-icon,
.delete-icon {
  cursor: pointer;
  margin-left: 0.75rem;

}

.TaskFilterButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
 
.TasksHeader {
  margin-right: auto; 
}


.Todo {
  background-color: #8758ff; /* Цвет фона по умолчанию */
  /* Другие стили */
}

.Todo.completed {
  background-color: #634dff; /* Более темный цвет фона для выполненной задачи */
}

button:focus {
  outline: none;
  border: none;
}

.Todo.completed .check-icon:hover,
.Todo.completed:hover .check-icon {
  color: #98ff98; /* Мятный цвет при наведении и выполнении задачи */
}

.edit-icon:hover {
  color: #808000; /* Оливковый цвет при наведении на .edit-icon */
}

.delete-icon:hover {
  color: #ff0000; /* Красный цвет при наведении на .delete-icon */
}

.check-icon:active,
.edit-icon:active,
.delete-icon:active {
  transform: translateY(2px); /* Подпрыгивание при клике на любую из иконок */
}


.filter-button.active {
  background-color: #684cff; /* Один оттенок темнее основного цвета фона */
}
